.body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/bg1.jpg");
    background-size: cover;
}
.bor{
    width: 30rem;
    height: 17rem;
    border: 3px solid;
    border-color: skyblue;
    border-radius: 8px;
    padding: 20px;
}
.box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btn-warning{
    border:0px ;
    background-color: orange;
    height: 50px;
}
a{
    color: orange;
    text-decoration: none;
}
a:hover{
    color: orangered;
}
