.container{
    background-color: #ff99;
}
.klik{
    width: 200px;
    height: 100px;
    background-color: #ffff;
    border: 1px solid #008d1c;
    border-radius: 5px;
    color: #008d1c;
    margin: 0px 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.klik:hover{
    background-color: #008d1c;
    border: 0px;
    color: #ffff;
}
.bg{
    background-color: #ffffff;
}