.judul {
    text-align: center;
    padding: 2rem;
  }
  .box1{
    width: 30vw;
    height: 65vh;
    margin: 0 auto;
    background-color:aquamarine;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }
  .username:focus{
    outline: none;
  }
  .text{
    text-align: center;
    padding-top: 3rem;
  }
  .spasi{
    margin: 3rem 0rem;
  }
  .cont{
    border-radius: 10px;
    background-color: white;
    padding: 0.25rem 4rem;
    margin: 0rem 4rem;
  }